<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSMSSoap" />
                <binding name="CPAWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CPAWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://54.173.24.177/painel/ServiceSms.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSMSSoap"
                contract="LocaSMSService.ServiceSMSSoap" name="ServiceSMSSoap" />
            <endpoint address="http://smsc.vianett.no/v3/cpa/cpawebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="CPAWebServiceSoap"
                contract="ViaNettService.CPAWebServiceSoap" name="CPAWebServiceSoap" />
            <endpoint address="http://smsc.vianett.no/v3/cpa/cpawebservice.asmx"
                binding="customBinding" bindingConfiguration="CPAWebServiceSoap12"
                contract="ViaNettService.CPAWebServiceSoap" name="CPAWebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>